@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .App {
  height: 100%;
}
* {
    margin: none;
}
.titleWrapper {
    animation: move 10s ease-in-out infinite alternate;
    
}
@keyframes move {
    25% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-100px);
    }
    75% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(-200px);
    }
}